.vscode
./temp
./media
temp
media
logs/*
build/*
external/*
libs/*
libraries/
libraries/YOLO-NAS-onnxruntime/
libraries/openpose/
libraries/BTrack
src/main copy.cpp
src/visualizer copy*
src/__scales*
src/__frequencies*
src/__wavelengths*
temp/
